<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelHomes"
        tools:targetApi="31">

        <activity
            android:name=".ViewConfidentialComplaint"
            android:exported="false" />
        <activity
            android:name=".FoodAttendance"
            android:exported="false" />
        <activity
            android:name=".QrGenerate"
            android:exported="false" />
        <activity
            android:name=".FoodstaffCaptureActivityPortrait"
            android:exported="false" />
        <activity
            android:name=".FoodstaffAttendanceScanner"
            android:exported="false" />
        <activity
            android:name=".FoodstaffMealSelection"
            android:exported="false" />
        <activity
            android:name=".FoodstaffFoodSchedule"
            android:exported="false" />
        <activity
            android:name=".Supervisorhomeactivity"
            android:exported="false" />
        <activity
            android:name=".Maintenancestaffhomeactivity"
            android:exported="false" />
        <activity
            android:name=".Foodstaffhomeactivity"
            android:exported="false" />
        <activity
            android:name=".Adminhomeactivity"
            android:exported="false" />
        <activity
            android:name=".LeaveRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ConfidentialComplaint"
            android:exported="false" />
        <activity
            android:name=".FoodComplaint"
            android:exported="false" />
        <activity
            android:name=".ViewFoodComplaint"
            android:exported="false" />
        <activity
            android:name=".MaintenanceComplaint"
            android:exported="false" />
        <activity
            android:name=".ViewMaintenanceComplaint"
            android:exported="false" />
        <activity
            android:name=".Complaint"
            android:exported="false" />
        <activity
            android:name=".FoodSchedule"
            android:exported="false" />
        <activity
            android:name=".RulesActivity"
            android:exported="false" /> <!-- SplashActivity should be correctly formatted -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- HomeActivity definition -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- MainActivity without launcher intent -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>